.container {
  background-color: rgb(107, 83, 136);
  background: linear-gradient(
    90deg,
    rgba(107, 83, 136, 1) 0%,
    rgba(149, 123, 180, 1) 0%,
    rgba(241, 231, 255, 1) 71%
  );
  min-height: calc(100vh - 72px);
  padding: 36px 0px;
  margin: -8px;
  position: relative;
}

.text {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 56px 0;
}

.select {
  width: 50%;
  margin: 24px auto;
}

.nextButton {
  position: absolute;
  bottom: 12px;
  right: 24px;
}
