.hompageContainer {
  background-color: rgb(107, 83, 136);
  background: linear-gradient(
    90deg,
    rgba(107, 83, 136, 1) 0%,
    rgba(149, 123, 180, 1) 0%,
    rgba(241, 231, 255, 1) 71%
  );
  min-height: 100vh;
  padding: 36px 0px;
}

.helloText {
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  margin: 56px auto;
  width: 90%;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 36px;
  margin: 156px auto;
  flex: 1 !important;
}

.nextButton {
  position: absolute;
  bottom: 12px;
  right: 24px;
}
